@model IEnumerable<Lab4.Models.Movie>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewBag.Title = "Home";
}
<html>
<body>

    <div class="container" role="main">

        <div class="page-header">
            <h2>Current Movies</h2>
        </div>

        <div class="row">
            <div class="col-sm-12">
                @if (Model == null || Model.Count() == 0)
                {
                    <table class="table table-striped table-hover table-responsive">
                        <tbody>
                            <tr>
                                <td colspan="6">
                                    Currently, there are no models in the database.
                                    <br />
                                    <br />
                                </td>
                            </tr>
                        </tbody>

                    </table>
                }
                else
                {
                    <table class="table table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    Movie Title
                                </th>
                                <th>
                                    Movie SubTitle
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Year
                                </th>
                                <th>
                                    Rating
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a class="btn btn-xs btn-primary" asp-controller="Home" asp-action="EditMovie" asp-route-id="@item.MovieId">Edit</a>
                                    </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.SubTitle
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                        @item.Year
                                    </td>
                                    <td>
                                        @item.Rating/5
                                    </td>
                                    <td>
                                        <a class="btn btn-xs btn-danger" onclick="return confirm('Are you sure?');" asp-controller="Home" asp-action="DeleteMovie" asp-route-id="@item.MovieId">Delete</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                         </table>
                }
            </div>
        </div>
    </div>

</body>
</html>
